In [6]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [26]:
import pandas as pd
import sqlalchemy as sal
engine= sal.create_engine('mssql://LAPTOP-U102O454\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [7]:
df.to_sql('netflix_raw', con=conn,index=False,if_exists='replace')
conn.close()

107

In [8]:
conn.close()

In [9]:
len(df)

8807

In [10]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [12]:
df.show_id.str.len()

0       2
1       2
2       2
3       2
4       2
       ..
8802    5
8803    5
8804    5
8805    5
8806    5
Name: show_id, Length: 8807, dtype: int64

In [13]:
max(df.show_id.str.len())

5

In [14]:
max(df.type.str.len())

7

In [15]:
max(df.title.str.len())

104

In [16]:
max(df.director.str.len())

208.0

In [17]:
max(df.cast.str.len())

nan

In [18]:
max(df.cast.dropna().str.len())

771

In [19]:
max(df.country.dropna().str.len())

123

In [20]:
max(df.date_added.dropna().str.len())

19

In [22]:
max(df.rating.dropna().str.len())

8

In [23]:
max(df.duration.dropna().str.len())

10

In [24]:
max(df.listed_in.dropna().str.len())

79

In [25]:
max(df.description.dropna().str.len())

248

In [27]:
df.to_sql('netflix_raw', con=conn,index=False,if_exists='append')
conn.close

In [28]:
conn.close

In [30]:
#finding the null values
df.isna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [31]:
#sum of null values for each column
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64